<header class="main-header"  >
    <!-- Logo -->
    <a href="#" class="logo" style="background:#3c8dbc">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>POSApp</b>App</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">POSApp</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top"  style="background:#3c8dbc">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/img/user.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{user_name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header" style="background:#3c8dbc">
                <img src="assets/img/user.jpg" class="img-circle" alt="User Image">

                <p>
                  {{user_name}}
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer" style="background:rgb(238, 238, 238)">
                <div class="pull-left">
                  <a href="#" class="btn btn-primary">Profile</a>
                </div>
                <div class="pull-right">
                  <a (click)="_auth.logoutUser()" class="btn btn-danger" >Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
