<section class="content-header">
    <h1>
        Approval
    </h1>
</section>
<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-8">
            <dynamic-content [type]="type" [data]="data"></dynamic-content>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="box-header text-theme">
                    <strong>Approval Form</strong>
                </div>
                <div class="box-body">
                    <form id="approvalForm" class="form-horizontal" #approvalForm="ngForm"
                        (ngSubmit)="submitApprovalForm(approvalForm)" novalidate>
                        <div class="col-md-12">
                            <div class="form-body">
                                <div class="col-md-12">
                                    Action:
                                    <div class="form-group row">
                                        <ng-select [items]="listApproval" [(ngModel)]="approvalData.ApprovalInstanceID"
                                            placeholder="Select Action" name="approval_id" bindValue="id"
                                            bindLabel="ApprovalType" required></ng-select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    Comment:
                                    <div class="form-group row">
                                        <textarea type="text " class="form-control" [(ngModel)]="approvalData.Remark" id="comment" name="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <button class="btn btn-primary" name="action" value="Submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>